.holder{
margin-top:112px;
}

.cuadrado{
    display:flex;
    column-count: 2;
    column-gap:1em;
    font-family: 'Open Sans',sans-serif!important;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    justify-content: center;
    max-height:auto;
    border: solid  #00a997;
    margin-top: 7.5em;
  }
  
  .cuadrado >h2{
    display: flex;
  max-height: 4em;
   column-width:7em;
    font-size: 2.5em;
    font-weight:700;
    font-style: italic;
    padding: 0.2em 0 0 0.5em;
  }
  
  .cuadrado > p{
    display: flex;
  padding: 0.6em 1em 0 1em;
  }
  

.mision{
    color: white;
    padding: 2%;
    text-align: center;
    font-weight: 200;
    line-height: 25px;
    background-color: black;

}
section{
    background-color: white;
    text-align: center;
    padding: 2%;
}
span{
    font-weight: bold;
}
.team{
    display: flexbox;
    flex-flow: row wrap;
    background-color: white;
    padding-left:15%;
    padding-left: 50px;




}
.people{
    display:inline-block;
    width:20%;

    margin-left:25px;
 


}
.people>img{
    max-width: 80%;
    padding-left: 13.5%;
    
}
.name{

}
.position{

}

.description{
    font-family:'Open Sans', sans-serif;
    font-size: 0.7rem;
}



.text{
    padding: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 100%;
text-align: center;
color: black;
   

}
.text>h6{
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 3px;
    /* line-height: 20px; */
    text-transform: uppercase;
    border: solid 1px black ;
    padding:6px;
    color:black; 
}

.text>p{
    
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10px;
    letter-spacing: 3px;
    line-height: 140%;
    text-transform: uppercase;
    padding:6px;
    text-align:start;
    color:black;
}

.team-carousel{
    display: flexbox;
    flex-flow: column wrap;
    background-color: white;
}

.size-carousel{
    display:flex;
    width: 970px;
    height:400px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color:rgb(255, 255, 255);
    
}
.text-team{
    font-family: 'Open Sans', sans-serif;
    display:inline-block;
    color: black;
  /*   padding-left: 350px; */
    text-transform: uppercase;
    }
/* .text-team>h4{

        font-family:'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 20px;
        text-transform: uppercase;
        border: solid 1px black;
        padding: 6px;

}
.text-team>p{
 
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
        color: #4c4c4c;
        text-transform: uppercase;
}
 */
.carousel-indicators {
    display: none;
}
.textP{
    font-size: 0.5em;
        }

@media (max-width:996px){

    .cuadrado{
        display:flex;
        flex-flow: column;
        text-align: center;
    }
    .cuadrado>h2{
        justify-content: center;
    }
.image{
    height: 70%;
    max-width: auto;
}
.text-team{
margin-right: 2rem;
margin-top: 1rem;
text-align: center;
}
.name{
    font-size: 0.8rem;
    text-align: center;
    border: 1px solid black;
}
.position{
    font-size: 1rem;
}
.description{
    font-size: 0.5rem;
}


}