.img{
    margin-top:0.5rem;
    max-height: 270px;
}
  
.container1{
    width:970px;
    border: 5px solid green;
    background-color: white;
    margin-top:1rem;
}






.containerText{
   max-height: 270px;
    border: 2px solid red;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.containerText>h3{
  
    font-weight: bold;
}
