

.container-services{
    max-width: 970px;
    max-height: auto;
    margin-top:0.5rem;
}

.foto-services{
    display:flex;
    flex-flow: row wrap;
    width:100%;
    height: auto;
}

.imagen>img{
    width: 485px;
    height: 357px;
}

.centrado1{
    width: 485px;
    height:auto;
    text-align: center;
    padding: 10%;
    font-family: 'Raleway', sans-serif !important;
    text-transform: uppercase;

}

.centrado1>p{
    font-weight: 300;
    font-size: 14px;
    color: #616161;
   
}
.centrado1>h3{
    font-weight: 500;
    font-size: 25px;
    color: #00a997;
   
}

.button{
    border-radius:unset;
    border-color:#00a997;
    background-color:white;
    border-style: hidden double;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
}

.button:hover {
    background-color: white
}



body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    transform-style: preserve-3d;
}

.container .box{
    position: relative;
    width:300px;
    height:300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #FE0061,#FFEB3B);
    transform: translateZ(100px);
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}

@media(min-width:992px){
.box{
    display:none;
}
}
@media  (max-width:992px) {

.container-services{
display:none;
}
}







