:root{
  --primary:#3e3a44;
}
body {
  font-family: 'Open Sans', sans-serif;
}

.holder{
  width: 970px;
  margin:auto
  }

  .cuadrado{
    display:flex;
    flex-wrap: wrap;
    column-count: 2;
    max-width: 970px;
    column-gap:1em;
    font-family: 'Open Sans',sans-serif!important;
    color: black;
    margin-top:0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    justify-content: center;
    max-height:auto;
    border: solid  #00a997;
}

.cuadrado >h2{
  display: flex;
max-height: 4em;
 column-width:7em;
  font-size: 2.5em;
  font-weight:700;
  font-style: italic;
  padding: 0.2em 0 0 0.5em;
}

.cuadrado > p{
  display: flex;
padding: 0.6em 1em 0 1em;
}

@media (max-width:996px){
  .holder{
      width: auto;
  }
}