.mision{
    color: white;
    padding: 2%;
    text-align: center;
    font-weight: 200;
    line-height: 25px;
    background-color: black;

}
section{
    background-color: white;
    text-align: center;
    padding: 2%;
}
span{
    font-weight: bold;
}

.team-carousel{
    width: 750px;
    margin-left: 110px;
}
.carousel{  
    justify-content: center;  
}

.text-team{
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-transform: uppercase;
    }

.imgContainer{
   
    text-align: center;
}
.image{
    max-width:500px;
    max-height:385px;
}

.name{

text-align: center;
border: 1.5px solid #00a997;
font-family:'Open Sans', sans-serif;
font-size: 2rem;
}

.position{
text-align: center;
font-family:'Open Sans', sans-serif;
font-size: 1.5rem;
}

.description{
    font-family:'Open Sans', sans-serif;
    text-align: center;
    font-size: 1rem;
}


.carousel .carousel-indicators{
        display:none;
    }

@media (max-width:996px){

section{
    margin: 1rem ;
    background-color: rgb(224, 221, 221);
    text-align: center;
    padding: 2%;
}

section>span{
    font-weight: bold;
}

.team-carousel{
    width: 100%;
    margin-left:0;
}

.image{
    max-width: 359px;
    max-height: 276px;
    max-height: auto;
}

.text-team{
    margin-top:0.5rem;
text-align: center;
}

.name{
    margin-left: 0rem;
    margin-right: 0rem;
    font-size: 0.9rem;
    font-family:'Open Sans', sans-serif;
    border: 1.5px solid #00a997;
}

.position{
    font-size: 0.7rem;
}

.description{
    font-size: 0.5rem;
}

.carousel .carousel-indicators{
    display:none;
}

}