.video{
    margin-top: 5px;
    max-width: 970px;
    height: auto;
    transition: 1.5s opacity;
}
.videoBox{
    justify-content: center;
}


.bigText>h1{
    font-family:  'Open Sans', sans-serif;
    color: var(--primary) !important;
    text-align:center;
    font-size:6em;
    font-weight: 900;
    margin-left: 90px;
}


.smallText{
    text-align: center;
}

.imgMonogram{
 max-height: 350px;
 text-align:center;
 margin-left: 20px;
}
@media (max-width:1050px){
    .bigText>h1{
        margin-left: 0px;
        
    }
}
@media  (max-width:992px) {
    .holder{
        width: auto;
    }
    .video{
        display:flex;
        width: 100%;
        margin: auto;
        margin-top: 5px;
    }

    .smallText{
        text-align: center;
       padding-left: 2rem;
       padding-right: 2rem;
    }

    .monogram1{
        display:none;
    }
    .imgMonogram{
        display:none;
    }
    .bigText>h1{
        margin-left: 0px;
        
    }
}



