.img{
    margin-top:0.5rem;
    max-height: 270px;
}
  
.container1{
    flex-wrap: wrap;
    background-color: white;
    margin-top:1rem;
}

.img1{
    opacity:0.2;
}

.p{
    font-size: 0.7rem;
}
